<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>로그인</title>

    <!-- Import Bulma CSS CDN -->
    <link rel="stylesheet" href="/static/css/bulma.css" />

    <!-- Import Font-Awesome CDN -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Import JQuery -->
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
        * {
            font-family: 'Noto Sans KR', sans-serif;
        }
        html, body, .section {
            height: 100%;
        }
        body {
            background: url("/static/images/background-mountains7.jpg") no-repeat;
            background-size: cover;
        }

        nav {
            margin-bottom: 100px;
        }
    </style>

    <script>
        function verifyPassword() {
            const password = $("#password").val();
            if (!password) {
                $("#password-error-message").removeClass("is-hidden");
                $("#password").addClass("is-danger");
                $("#password-exclamation").removeClass("is-hidden");
                $("#password").focus();
                return false;
            } else {
                $("#password-error-message").addClass("is-hidden");
                $("#password").removeClass("is-danger");
                $("#password-exclamation").addClass("is-hidden");
            }
            return true;
        }

        function verifyEmail() {
            const exp = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i;
            const email = $("#email").val();

            // 이메일을 입력하지 않았을 경우
            if (!email) {
                $("#email_error_message_1").removeClass("is-hidden");
                $("#email_error_message_2").addClass("is-hidden");
                $("#email").addClass("is-danger");
                $("#email-exclamation").removeClass("is-hidden");
                $("#email").focus();
                return false;
            } else {
                $("#email_error_message_1").addClass("is-hidden");
                $("#email").removeClass("is-danger");
                $("#email-exclamation").addClass("is-hidden");
                // 이메일 형식이 아닐 경우
                if (!exp.test(email)) {
                    $("#email_error_message_2").removeClass("is-hidden");
                    $("#email").addClass("is-danger");
                    $("#email-exclamation").removeClass("is-hidden");
                    $("#email").focus();
                    return false;
                } else {
                    $("#email_error_message_2").addClass("is-hidden");
                    $("#email").removeClass("is-danger");
                    $("#email-exclamation").addClass("is-hidden");
                }
            }
            return true;
        }

        function login() {
            if (!verifyEmail() || !verifyPassword()) return;
            $.ajax({
                type: "POST",
                url: "/mountain/login",
                data: { email_give: $("#email").val(), password_give: $("#password").val() },
                success: function(response) {
                    if (response['result'] == 'success') {
                        alert('로그인 성공');
                        $.cookie('myToken', response['token']);
                        window.location.href='/mountain/list';
                    } else {
                        alert(response['message']);
                        $("#email").focus();
                    }
                }
            });
        }
    </script>
</head>
<body>
<section class="section">
        <div class="container">
        <div class="columns is-justify-content-center">
            <div class="column is-two-fifths">
                <div class="card">
                    <header class="card-header">
                        <div class="card-header-title has-background-primary has-background-light has-text-white">로그인
                        </div>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            <div class="field">
                                <p class="control is-expanded has-icons-left has-icons-right">
                                    <input class="input" id="email" type="email" placeholder="Email">
                                    <span class="icon is-small is-left">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                    <span class="icon is-small is-right">
                                        <i class="fa fa-exclamation-triangle is-hidden" id="email-exclamation"></i>
                                    </span>
                                </p>
                                <p class="help is-danger is-hidden" id="email_error_message_1">이메일을 입력해 주세요.</p>
                                <p class="help is-danger is-hidden" id="email_error_message_2">이메일 형식에 맞게 입력해 주세요.</p>
                            </div>
                            <div class="field">
                                <p class="control has-icons-left has-icons-right">
                                    <input class="input" id="password" type="password" placeholder="Password">
                                    <span class="icon is-small is-left">
                                        <i class="fa fa-lock"></i>
                                    </span>
                                    <span class="icon is-small is-right">
                                        <i class="fa fa-exclamation-triangle is-hidden" id="password-exclamation"></i>
                                        {#<i class="fa fa-check"></i>#}
                                    </span>
                                </p>
                                <p class="help is-danger is-hidden" id="password-error-message">비밀번호를 입력해 주세요.</p>
                            </div>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="#" onclick="login()" class="card-footer-item has-text-primary-dark">로그인</a>
                        <a href="#" class="card-footer-item has-text-primary-dark">회원가입</a>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>